<% include ./partials/header %>
    
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Users Table</h4>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                    <th>Firstname</th>
                                	<th>Lastname</th>
                                	<th>Work</th>
                                	<th>Job</th>
                                	<th>Company</th>
                                	<th>Education</th>
                                	<th>Skills</th>
                                	<th>Phone Number</th>
                                </thead>
                                <tbody>
                                    <% user.forEach(function(user){ %>
                                        <% if(!(user.isAdmin)) { %>
                                            <tr>
                                            <td><h4><a href="/users/<%= user._id %>/profile"><%= user.firstname %></h4></td>
                                        	<td><h4><%= user.lastname %></h4></td>
                                        	<td><h4><%= user.work %></h4></td>
                                        	<td><h4><%= user.job %></h4></td>
                                        	<td><h4><%= user.company %></h4></td>
                                        	<td><h4><%= user.education %></h4></td>
                                        	<td><h4><%= user.skills %></h4></td>
                                        	<td><h4><%= user.tel %></h4></td>
                                            </tr>
                                        <% } %>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary btn-lg" href="/admin/users">Get xml</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
<% include ./partials/footer %>