<% include ../partials/header %>

    <div class="container">
        <div class="col-lg-12">
            <!--<img class="image-responsive" src="<%= user.photo %>">-->
            <div class="content">
                <div class="col-lg-4">
                    <% console.log(friendships.length); %>
                    <% user.forEach(function(users,index){ %>
                    <% console.log(index); %>
                        <% if (!(currentUser.id == users.id)){ %>
                            <div class="thumbnail">
                                <h4>Current User</h4>
                                <br>
                                <!--TO BE CHANGED.NEED TO ADD FIRST AND LAST NAME ON EACH USER!-->
                                <a href="/users/<%=users._id%>/me"><%= users.username %></a>
                                <div class="form-inline">
                                    <form action="/users/<%= currentUser._id %>/friends/<%= users._id %>/" method="POST">
                                    <!--<i class="fas fa-user-plus"></i><input type="submit" class="nav-link btn btn-default" value="Add friend" onclick= "this.disabled=true;">-->
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">
                                    <% if(index < friendships.length) { %>
                                        <% console.log(friendships[index].status); %>
                                        <% if(friendships[index].status === "pending"){ %>
                                            Request Pending 
                                        <% } else if(friendships[index].status === "requested"){ %>
                                            Accept Friend
                                        <% } else {%>
                                            Already friends :D
                                        <% } %>
                                    <% } else {%>
                                        Add Friend
                                    <% } %>
                                    </button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
        
     </body> 
        
       <script>
            var Inputs = document.querySelectorAll("button");
           
            Inputs.forEach(function(input, index) {
                input.addEventListener("click", function() {
                input.value = "Request Pending";
                });
            });
           
       </script> 
        
        
        
        <script>
           
        </script>
    
    </html>